<h1>Listing merchandises</h1>
<%= puts "IN VIEW HTML" %>
<table>
  <tr>
    <th>Name</th>
    <th>Description  c</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @merchandises.each do |merchandise| %>
  <tr>
    <td><%= merchandise.Name %></td>
    <td><%= merchandise.Description__c %></td>
    <td><%= link_to 'Show', merchandise_path(merchandise), method: :show %></td>
    <td><%= link_to 'Edit', edit_merchandise_path(merchandise) %></td>
    <td><%= link_to 'Destroy', merchandise_path(merchandise), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Merchandise', new_merchandise_path %>
